{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order_Confirm</title>
    <link rel="stylesheet" href="{% static 'css/order_confirmation.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

    <!-- Unicons CSS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="nav" id="nav">
        <i class="uil uil-bars navOpenBtn"></i>
        <p class="logo">
            <img src="{% static 'images/donut.svg' %}" width="90" height="50" alt="Donuts Dreams - Home" class="img">
            <span class="logo-text">Donuts <br /> <span class="logo-text-2">Dreams</span></span>
        </p>

        <ul class="nav-links">
            <i class="uil uil-times navCloseBtn"></i>
            <li class="li"><a href="{% url 'home' %}">
                    <div class="separator"></div><span class="tab">HOME</span>
                </a></li>
            <li class="li"><a href="{% url 'menu' %}">
                    <div class="separator"></div><span class="tab">DONUTS</span>
                </a></li>
            <li class="li"><a href="{% url 'about' %}">
                    <div class="separator"></div><span class="tab">ABOUT US</span>
                </a></li>
            <li class="li"><a href="{% url 'events' %}">
                    <div class="separator"></div><span class="tab">ABOUT US</span>
                </a></li>
            <li class="li"><a href="{% url 'login' %}">
                    <div class="separator"></div><span class="tab">LOGIN</span>
                </a></li>
        </ul>
    </nav>
    <h1>Thank you for placing your order with Donuts Dreams!</h1>
    <div id="thankyou">
        <p id="order">Your order has been successfully registered and confirmed. We're excited to prepare your delicious donuts for you.</p>
        <div class="div">
            <p>Order Number : <span id="orderNumber"></span> </p>
            <p>Date and Time of Order : <span id="orderDateTime"></span> </p>
            <p>Pickup Location : Donut St, Sprinkleburg Avenue, Moka 1111, Mauritius</p>
        </div>
    </div>
    <script>
        
        function generateOrderNumber() {
            return Math.floor(Math.random() * 1000) + 1;
        }

      
        function getCurrentDateTime() {
            const now = new Date();
            return now.toLocaleString();
        }

        document.getElementById("orderNumber").textContent = generateOrderNumber();
        document.getElementById("orderDateTime").textContent = getCurrentDateTime();
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'javascript/events.js' %}"></script>
</body>

</html>